@font-face {
    font-family:'ShineBubble';
    src: url(Fontsused/ShineBubble.ttf);
  }
  @font-face {
    font-family: 'Mazzard.otf';
    src: url(Fontsused/Mazzard.otf);
  }


/*body {
    font-family:  Arial, Helvetica, sans-serif; ;
}*/

main {
    min-height: 1024px;
   

}

.header-container {
    background-color: #00729b;
    min-height: 150px;
}

header {
    max-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.logo {
    width: 250px;
    height: 250px;
}


.navbutton1,
.navbutton2,
.navbutton3,
.navbutton4 {
    border: 1px solid;
    padding: 11px 25px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px, 2px, 2px rgba(0, 0, 0, 0.228);
}

.navbutton1 {
    background-color: #fff0bf;
}

.navbutton2 {
    background-color: #fac4c4;
}

.navbutton3 {
    background-color: #c2eae1;
}

.navbutton4 {
    background-color: #ffcbeb;
}


.navbutton1:hover {
    background-color: #fbc411;
    color: white;
    transition-duration: 1s;
}

.navbutton2:hover {
    background-color: #fa6666;
    color: white;
    transition-duration: 1s;
}

.navbutton3:hover {
    background-color: #44c9ac;
    color: white;
    transition-duration: 1s;
}

.navbutton4:hover {
    background-color: #f167bc;
    color: white;
    transition-duration: 1s;
}


a {
    text-decoration: none;
    color: black;

}

.welcome {
    height: 380px;
    background-image: url("Photos used/Sunshine-bg-wel.jpg");
    background-size: cover;

}

.welcome h1 {
    color: #611973;
    text-align: right;
    padding: 2.75rem;
    font-size: 75px;
    font-family: "Spicy Rice", cursive;
    font-weight: 500;
    font-style: normal;
}

caption {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #deb52f;
    margin-bottom: 16px;
    margin-top: 100px;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: separate;
    border: 1px solid black;
    vertical-align: middle;
}


table th {
     background-color: #00729b;
    color: #fff; 
    text-align: left;
}


#GalleryTitle {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #fb8484;
    margin-top: 100px;
    margin-bottom: 16px;
}

.grid-container {
    min-height: 500px;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 0 auto; 

    
}

.col {
    max-height: 450px;
    max-width: 750px;
    background-color: rgb(0, 114, 155);


}

.col img {
    width: 100%;
    height: auto;
}

.col p {
    color: white;
    font-size: 0.825rem;
    text-align: center;
    padding: 20px 25px;
    line-height: 1.25rem;
    
}



/*footer {
    min-height: 100px;
    background-color: aquamarine;
}*/


  .flex-container{
  display: flex;
  width: 100%;
  gap: 20px;
  }
.Announcements{
    flex: 1;
    text-indent: 10px;
    border-radius: 20px;
    background-color:rgb(248, 248, 233);
    margin:10px;
}
.Announcements h2{
    text-align: center;
    font-size: 30px;
    font-family: "Mazzard.otf";
    color: #A0D683;
    margin-bottom:0;
}
.Announcements summary{
    text-indent: 10px;
    font-size: 25px;
    font-family: "Mazzard.otf";
    color: #91c5f0 !important;
    margin-bottom:0;
    margin-top: 5px;
}
.Announcements p{
    padding-left: 14px;
    padding-right: 10px;
    font-size:12px ;
    font-family: "ShineBubble";
    color: #E4B9B4;
    margin-top: 0;
}

.PR{
    border-radius: 20px;
    text-indent: 10px;
    background-color:rgb(248, 248, 233);
    flex: 1;
    margin: 10px;
}
.PR h2{
    font-size: 30px;
    text-align: center;
    font-family: "Mazzard.otf";
    color: #A0D683;
    margin-bottom:10px;
}
.PRlinks a:link, a:visited{
    color: #E4B9B4 !important; 
    margin:0;
    display: block;
    text-align: center;
    font-family: "ShineBubble";
    font-size:15px ;
    text-decoration-color: #E4B9B4 ;

}
 
.PRlinks a:hover{
    color: #F1AC7E !important;
    text-decoration-color: #F1AC7E;
}


 .Teacher-info{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        gap: 10px;

 }
 .Teacher-info h3{
    font-size: 20px;
    font-family: "ShineBubble";
    text-align: center;
    color:#E4B9B4;
 }
 .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #91c5f0;
    background-color: #eaeaea;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color:#e1e0e0;
    color: #91c5f0;
  }
.Teacher-info p{
    font-family: "ShineBubble";
    color:#A0D683 ;
    text-align: center;
    font-size: 15px;
}
 .Teacher img{
    width:100%;
    height: auto;

}
 h2{
    margin-top: 10px;
    color:#A0D683;
    font-family: "Mazzard.otf";
    text-align: center;
 }
 footer{
    background-color: #f4f4f9;
    font-family: "Mazzard.otf";
    font-size: 20px;
    text-align: center;
    color: (33, 33, 33);
 }

 .row p{
    font-size:20px ;
    text-indent: 10px;
    margin-top: 2px;
    padding: 1 rem 0;
    background-color: #f4f4f9;
    text-align: center;
}
.row a{
    font-family: "Mazzard.otf";
    font-size:20px ;
    text-decoration: none;
    color: rgb(33, 33, 33);
    margin: 10px;
}
.row img{
    width: 25px;
    margin: 10px;
}


 /*@media(max-width:600px){
    .Teacher-info{
        grid-template-columns: 1fr;

    }
}*/
/* Media queries for desktops */
@media (min-width: 900px) {
    .header-container header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    table {
        width: 80%;
        margin: 2rem auto;
    }


}

/* Media queries for mobile */ 
@media (max-width:600px) {

}


    



